body {
  font-family: "Abel", sans-serif;
  font-weight: 200;
  background-image: url("graydots.jpg");
  background-size: cover;
  background-color: white;
  /* background: #f8f8f8; */
  margin: 0;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1000px) {
  /* Case where screen is desktop (horizontal) resolution */
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  .headshot_mobile {
    display: none;
  }
  .headshot_desktop {
    width: 85%;
  }

  .custom_PDF {
    /* margin-left: auto;
    margin-right: auto; */
    position: relative;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    aspect-ratio: 8.5 / 11;
  }
}

@media screen and (max-width: 1000px) {
  /* Case where screen is mobile (vertical) resolution */
  .flex-container {
     display: flex;
     flex-direction: column;
   }
  .headshot_desktop {
  display: none;
  }
  .headshot_mobile {
  width: 50%;
  }

  .custom_PDF {
    /* aspect-ratio: 8.5 / 11; */
    /* margin: auto;
    overflow: hidden;
    position: relative; */
    /* margin-left: auto;
    margin-right: auto; */
    /* position: relative; */
    /* overflow: hidden; */
    /* margin-left: 10%;
    margin-right: 10%;
    width: 15em; */
    position: relative;
    aspect-ratio: 1;
  }
}

.contactIconLink {
  text-decoration: none;
}

.contactIconWrapper {
  padding-left: 96px;
}

p {
  font-size: 24px;
}

figcaption {
  font-size: 16px;
  font-style: italic;
  margin: 0%;
  padding-bottom: 1em;
}

.captioned_image {
  padding-bottom: 10%;
}

.title {
  /* padding-left: 96px; */
  font-family: 'Oswald';
  margin-bottom: 8px;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.subtitle {
  /* padding-left: 96px; */
  margin: 0%;
  font-size: 21px;
  font-weight: 100;
  text-align: center;
  color: black;
}

/* .header h1 {
  font-size: 48px;
} */
/* .header h2 {
  padding: 0em;
} */

.pagetitle {
  font-family: 'Share';
  font-size: 28px;
  font-style: italic;
  color: black;
  margin-top: .5em;
}

/* .header2 {
  font-weight: 400;
  comment this too: padding: 8px;
  padding-left: 96px;
  font-size: 36px;
} */



.row {
  display: flex;
  flex-wrap: wrap;
}

.left {
  flex: 50%;
}

.right {
  flex: 50%;
}

.custom {
  font-family: 'Raleway';
  font-weight: 400;
  /* padding: 24px; */
  padding-left: 96px;
  font-size: 18px;
}

.card {
  border-radius: .5em;
  margin-left: 2em;
  margin-right: 2em;
  /* background-color: #ffffff; */
}

ul {
  border-radius: .5em;
  list-style-type: none;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0px;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.2s;
}

figcaption a {
  color: #3ABEF9;
  text-decoration: underline;
  transition: 0.4s;
}

figcaption a:hover {
  color: #000dff;
  text-decoration: underline;
  /* transition-delay:1s; */
}

p a {
  color: #3ABEF9;
  text-decoration: underline;
  transition: 0.4s;
}

p a:hover {
  color: #000dff;
  text-decoration: underline;
  /* transition-delay:1s; */
}

hr {
  border-color: #3ABEF9;
  width: 33%;
}

li:not(.active) a:hover {
  background-color: #3572EF;
  color: white;
}

.active {
  background-color: #ececec;
  color: black;
  /* background-color: #e6e6e6;
  color: rgb(240, 240, 240); */
}

.card {
  padding: 0em;
}

.column {
  float: left;
  width: 50%;
  padding: 0em;
}

.row {
  padding: 0em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 0em;
}

#parent{ 
  display: flex; 
} 
.col_left{ 
  padding: 10px; 
  /* width: 611111111.8%; */
  width: 76.4%;
  /* flex: 60%;  */
}

.col_right{ 
  padding: 10px; 
  /* 38.2 */
  /* 23.6% */
  width: 32.6;
  /* flex: 10%;  */
}

.column {
  float: left;
  width: 30%;
  padding: 5px;
}

a img {
  border-radius: 0em;
  padding-right: .5em;
  height: 3em;
  width: 3em;
}

img {
  border-radius: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 1em;
  /* padding-bottom: 1em; */
}

.contactIcon {
  height: 5em;
  width: 5em;
  vertical-align: middle;
  float: left;
  padding: auto;
}

.contactIconLink {
  text-decoration: none;
}